.slider{
    height: 40px;
    border: 1px solid #8a817c;
    border-radius: 20px;
}


.thumb{
    background-color: #8a817c;
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 20px;
}

.slider.green{
    border: 1px solid #8a817c;
}
.slider.green .thumb{
    background-color: #8a817c;
}